<mat-accordion multi="true" *ngIf="posts.length > 0"> <!--multi allows to open more then 1 accordion-->
    <mat-expansion-panel *ngFor="let post of posts, let i=index">
      <mat-expansion-panel-header>
         {{post.title}}
         <button (click)=delTask(i,1) mat-icon-button color="primary" aria-label="Example icon-button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
  </mat-expansion-panel>
</mat-accordion>
